# Acknowledgments

Mentioning other work, their copyright notice and used license.

If your project builds upon other software, parts of software (libraries) or simply work owned by someone else, it depends on their license how you have to acknowledge its usage in your project. Usually you have to state their copyright notice and license used somewhere in your project.

## Java Libraries

+ Ant
  + http://ant.apache.org/
  + Author: The Apache Software Foundation
  + License: **ASL**
