# $(PROJECT_NAME)

$(AWESOME_PUNCH_LINE)

## Usage

$(BASIC_USAGE_INSTRUCTIONS)

## Contributing

See the [CONTRIBUTING] document.
Thank you, [contributors]!

  [CONTRIBUTING]: CONTRIBUTING.md
  [contributors]: https://github.com/zuehlke/$(REPO_NAME)/graphs/contributors

## License

**$(PROJECT_NAME)** is Copyright (c) 2017 Zühlke.
It is free software, and may be redistributed
under the terms specified in the [LICENSE] file.

  [LICENSE]: /LICENSE

## About

**$(PROJECT_NAME)** is maintained by $(MAINTAINERS).

![Zuehlke](https://avatars2.githubusercontent.com/u/10219568?v=3&s=200)

**$(PROJECT_NAME)** is maintained and funded by Zühlke.
The names and logos for Zühlke are trademarks of Zühlke.

We :heart: open source software!
See [our success stories][success]
or [contat us][contact] to empower your ideas.

  [success]: https://www.zuehlke.com/ch/en/success-stories/?utm_source=github
  [contact]: https://www.zuehlke.com/ch/en/about-us/contact/?utm_source=github
